%div{data:{role:"page", "add-back-btn" => "true"}}
  %div{data:{role:"header"}}
    %h1= "Viewing /#{@path}"

  %div{data:{role:"content"}}
    %ul{data:{role:"listview"}}
      %li{data:{role:"list-divider"}} Arquivos
      - @dir.musics.each do |music|
        %li
          %a{href:"/music/#{music.path}", data:{rel:"dialog"}}= music.name
      %li{data:{role:"list-divider"}} Pastas
      - @dir.directories.each do |dir|
        %li
          %a{href:"/musics/#{dir.path}", data:{transition:"slide"}}= dir.name