%div{data:{role:"page"}}
  %div{data:{role:"header"}}
    %h1
      JukeBox 
      = " - #{@current_music.split("/")[-1]}" if @current_music

  %div{data:{role:"content"}}
    %ul{data:{role:"listview"}}
      %li
        %a{href:"/my/", data:{transition:"slide"}} Ver Seus Pedidos
      %li
        %a{href:"/musics/", data:{transition:"slide"}} Peça Uma Música