%div{data:{role:"page", "add-back-btn" => "true"}}
  %div{data:{role:"header"}}
    %h1 Meus Pedidos

  %div{data:{role:"content"}}
    %ul{data:{role:"listview", split:{icon: "delete", theme: "d"}}}
      - @musics.each do |music|
        %li
          %a= music[:name]
          %a{href: "/remove/#{music[:path]}", data:{ajax: "false"}} Remover